*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins, sans-serif;
    background-color: #B6C3FE;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    text-align: center;
}

.wrapper h2{
    margin-top: 100px;
    margin-bottom: -40px;
    font-weight: 600;
    font-size: 40px;
}

.wrapper img{
    width: 600px;
    max-width: 75%;
}

.wrapper h4{
    margin-top: -60px;
    font-size: 20px;
}

.btn-manual{
    margin-top: 8px;
    background-color: #6D5AE9;
    border: 0;
    padding: 12px 30px;
    color: #fff;
    border-radius: 50px;
}

.btn-manual:hover{
    background-color: #39309D;
    color: #fff;
}

@font-face{
    font-family: "poppins";
    src: url(../fonts/poppins-v13-latin-regular.woff) format("woff");
}